<!-- nav pills starts -->
<div class="container-fluid shadow p-3 rounded">

    <h2 class="display-6 text-center">USER DASHBOARD</h2>
    <hr>

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#personalInfo">PersonalInfo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-bs-toggle="tab" href="#savedAdd">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-bs-toggle="tab" href="#orderDetails">OrderDetails</a>
        </li>
    </ul>

    <!-- nav pills ends -->

    <div class="tab-content">
        <!-- Personal Info code starts -->
        <div class="tab-pane active" id="personalInfo">
            <p class="lead m-5">Username: </p>
            <p class="lead m-5">Email: </p>
            
        </div>
        <!-- Personal Info code ends -->

        <!-- order details code starts here -->
        <div class="tab-pane" id="orderDetails">
            <p class="lead m-5"> OrderDetails</p>
        </div>
        <!-- ordere details code ends here -->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>