<h3 class="display-5" style="margin-left:50px">Your Orders</h3>
<section class="cart_area">

    <div class="container-sm shadow p-3 mb-5 bg-body rounded">

        <div class="cart_inner">

            <div class="table-responsive">
                <table class="table table-striped" style="width:100%">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">Product Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Purchase Date and Time</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">Payment Mode</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stores of stored | paginate:{itemsPerPage:6,currentPage:p};">
                            <td>
                                <div class="media-body">
                                    <img src="http://localhost:3000/{{stores.PRODUCT_IMAGE}}" height="90px">
                                </div>
                            </td>
                            <td>
                                <div class="media-body">
                                    <p>{{stores.PRODUCT_PURCHASED}}</p>
                                </div>
                            </td>
                            <td>
                                <div >
                                    <p>{{stores.PRODUCT_PRICE}}</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{{stores.PURCHASE_DATE| date: 'MMM d, y'}}&nbsp;{{stores.PURCHASE_TIME}}</p>
                                </div>
                            </td>
                            <td>
                                <div >
                                    <p>{{stores.ORDER_ID}}</p>
                                </div>
                            </td>
                            <td>
                                <div >
                                    <p>{{stores.PAYMENT_MODE}}</p>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
    </div>
</section>