<div class="container-fluid h-100">
  <div class="row">
    <!-- Column1 -->
    <!-- Search box template starts-->
    <div class="col-2 border border-start-0 pf">
      <h1 class="bg text-center display-6">Product Filter</h1>
      <div class="mt-3 ms-1">
        <label for="lead">Search Your Product Here</label>
        <div class="search-container">
          <input type="text" placeholder="Search..." [(ngModel)]="search">
          <!-- <button type="button"><i class="fa fa-search">Search</i></button> -->
        </div>
      </div>
      <!-- Search box template ends-->

      <!--Category Filter  Template-->
      <div class="mt-4 mb-4 ms-1">
        <p for="">Filter By Category</p>
        <div class="search-container">
          <input type="text" id="categoryFilter" name="categoryFilter" placeholder="Search..." [(ngModel)]="Category">
          <!-- <button (click)="CategoryFilter(Category)">Filter</button> -->
        </div>
      </div>
      <!-- Category filter template -->
    </div>
    <div class="col border border-end-0">
      <!-- Column2 -->
      

      <div class="container-fluid h-100">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let shop of shopper | filter:search |filter:Category | paginate:{itemsPerPage:6,currentPage:p};" >
            <figure class="card card-product-grid">
              <div class="img-wrap text-center">
                <a [routerLink]="['/product/',shop.PRODUCT_ID]"><img class="card-img"
                    src="http://localhost:3000/{{shop.PRODUCT_IMAGE}}" alt="Image"></a>
              </div>
              <figcaption class="info-wrap border-top">
                <div class="price-wrap">
                  <strong class="price">{{shop.PRICE | currency: "&#8377; "}}</strong>
                </div>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"
                  class="title mb-2">{{shop.PRODUCT_NAME}}</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/product',shop.PRODUCT_ID]">See
                  Product</a>
                <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
              </figcaption>
            </figure>
          </div>
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>