<!-- container start.// -->
<div class="container-fluid bg-primary">
    <div class="p-5">
        <h1 class="display-4 text-white"> Best products & <br> brands in our store </h1>
        <p class="lead text-white">Trendy Products, Factory Prices, Excellent Service</p>
        <a href="#" routerLinkActive="active" routerLink="./shop" class="btn btn-warning"> Purchase now</a>
    </div>

</div> 
<!-- container end.// -->
<!-- ================ SECTION PRODUCTS ================ -->
<section class="padding-y">
    <div class="container">

        <header class="section-heading">
            <hr>
            <h3 class="display-6 text-center">Our products</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 ">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img
                            src="https://m.media-amazon.com/images/I/31+G-o8iK-L._SY300_SX300_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Laptops</p>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->

            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img
                            src="https://m.media-amazon.com/images/I/61Y30DpqRVL._SX679_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Computers</p>

                    </figcaption>
                </figure>
            </div> <!-- col end.// -->

            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/317o9X7uxjL._SX300_SY300_QL70_FMwebp_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Printers</p>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->

            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img src="https://m.media-amazon.com/images/I/61kJkI+mNJL._SX679_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Keyboards</p>
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->

            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm ms-1 mb-1">
                    <div class="img-wrap">
                        <img src="https://m.media-amazon.com/images/I/61iNBf51N7L._SX466_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Computer Mouse</p>
                    </figcaption>
                </figure>
            </div> 
            <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img
                            src="https://m.media-amazon.com/images/I/51jKA5vIxBL._SX679_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Office Computer Chairs</p>
                    </figcaption>
                </figure>
            </div> 
            <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img
                            src="https://images-eu.ssl-images-amazon.com/images/I/41igriVLabS._SX300_SY300_QL70_FMwebp_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">External Hard Disk</p>
                    </figcaption>
                </figure>
            </div> 
            <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid shadow-sm">
                    <div class="img-wrap">
                        <img
                            src="https://m.media-amazon.com/images/I/61KZD0iMzGL._SX679_.jpg">
                    </div>
                    <figcaption class="info-wrap border-top ms-1 mb-1">
                        <p class="title mb-2 lead text-center">Computer Table and Office Desk</p>

                    </figcaption>
                </figure>
            </div> 
            <!-- col end.// -->
        </div> 
        <!-- row end.// -->
        <hr>

    </div> 
    <!-- container end.// -->
</section>
<!-- ================ SECTION PRODUCTS END.// ================ -->
<!-- ================ SECTION FEATURE ================ -->
<section class="bg-light padding-y mt-3">
    <div class="container">

        <header class="section-heading mt-2 mb-5">
            <h3 class="section-title text-center">Why choose us</h3>
        </header>

        <div class="row mb-4">
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-money-bill"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Reasonable prices</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
                    </figcaption>
                </figure>
            </div><!-- col // -->
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center  mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Best quality</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
                    </figcaption>
                </figure>
            </div><!-- col // -->
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center  mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-plane"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Worldwide shipping</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
                    </figcaption>
                </figure>
            </div> <!-- col // -->
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center  mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-users"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Customer satisfaction</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
                    </figcaption>
                </figure>
            </div><!-- col // -->
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-thumbs-up"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Happy customers</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
                    </figcaption>
                </figure>
            </div><!-- col // -->
            <div class="col-lg-4 col-md-6">
                <figure class="itemside align-items-center mb-4">
                    <div class="aside">
                        <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
                            <i class="fa fa-box"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Thousand items</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
                    </figcaption>
                </figure>
            </div> <!-- col // -->
        </div>
    </div> <!-- container end.// -->
</section>
<!--  SECTION FEATURE END.// -->