<div class="conatiner-fluid">

    <div class="container">
        <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid"
                    src="https://img.freepik.com/free-vector/ecommerce-web-page-concept-illustration_114360-8234.jpg?w=996&t=st=1662203074~exp=1662203674~hmac=0e6a5de5372f0a8b314b1c7d708a64b10e1e9f33720d986d425c55d86ad0d4c4"
                    alt="">
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                    <h1 class="h1 text-success"><b>Thrift</b> eCommerce</h1>
                    <h3 class="h2">Next Generation of eCommerce</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores tempore
                        suscipit velit cupiditate. A? Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Omnis, mollitia. <a class="text-success" target="_blank"></a>
                        <br>
                        <button type="button" class="btn btn-success" routerLinkActive="active" routerLink="./product">Shop Now</button>
                    </p>
                </div>
            </div>
        </div>
        <hr>
    <!-- Start Banner Hero -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <li data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#hero-carousel" data-bs-slide-to="2"></li>
    </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid"
                                src="https://img.freepik.com/free-psd/realistic-computer-design_1310-686.jpg?w=996&t=st=1662190649~exp=1662191249~hmac=602eba8b77df59c4bf4d3263249a804c0a5805d85aa6c55d63ec9f6a85dd0d2a"
                                alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Desktop</b></h1>
                                <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores tempore
                                    suscipit velit cupiditate. A? Lorem ipsum dolor, sit amet consectetur adipisicing
                                    elit. Omnis, mollitia. <a rel="sponsored" class="text-success" href="#"
                                        target="_blank"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid"
                                src="https://img.freepik.com/premium-vector/computer-display-monitor-realistic-3d-isolated_177006-195.jpg?size=626&ext=jpg&ga=GA1.2.2063976847.1651519610"
                                alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Monitors</h1>
                                <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat sit alias deserunt ipsum ullam fugiat similique maiores error labore eveniet!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid"
                                src="https://img.freepik.com/free-psd/chair-pillow_176382-880.jpg?size=338&ext=jpg&ga=GA1.2.2063976847.1651519610"
                                alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Chairs</h1>
                                <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ex earum, ipsam
                                    repellat saepe tenetur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#hero-carousel" role="button"
            data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#hero-carousel" role="button"
            data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <hr>
    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut aperiam dolor iusto sint
                        dignissimos impedit quibusdam eius praesentium magni possimus!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://img.freepik.com/free-psd/laptop-psd-mockup-with-gradient-led-light_53876-138283.jpg?size=626&ext=jpg&ga=GA1.2.2063976847.1651519610"
                                class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">₹35000.00</li>
                            </ul>
                            <a href="#" class="h2 text-decoration-none text-dark">XYZ Laptop</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia
                                deserunt.
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQr7Z80GETWFESkhZXYTr8prtgNF8DkXmCA8Sup-NUOvnJGz5oWF4xmVfRyQ2Zw780H63QWsDihSBT_HtUVeGDNQ3pNmUGtMv7xTCxXgGXW&usqp=CAE"
                                class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">₹1200.00</li>
                            </ul>
                            <a href="#" class="h2 text-decoration-none text-dark">XYZ keyboards</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, quod at? Cumque,
                                dignissimos molestias dolores pariatur optio deleniti quasi quae.
                            </p>
                            <p class="text-muted">Reviews (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img src="https://img.freepik.com/free-photo/home-printer-based-toner_23-2149287461.jpg?size=626&ext=jpg&ga=GA1.2.2063976847.1651519610"
                                class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">₹8600.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">XYZ Printers</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eligendi aut veniam
                                nulla ducimus, rem amet officia enim asperiores fuga?.
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
</div>
