<!-- body content starts -->

<div class="d-flex p-2">
    <div class="d-inline-flex p-2">
        <img src="https://img.freepik.com/free-vector/about-us-concept-illustration_114360-639.jpg?w=740&t=st=1667849369~exp=1667849969~hmac=50e1f5e9b359ea9106c10dae902307e24ef866c77c60db1e232d92705ac06bd0" alt="" style="height:550px;">
    </div>

    <div class="position-absolute top-50 start-50">
        <h5 class="display-5">Thrift Ecommerce</h5>
        <p class="lead">Offering wide rangew of discounts on products used for productivity.</p>

        <h5 class="display-6">You can contact us on our socials.</h5>

        <div>
            <img src="../../../assets/img/twitter.png" alt="Twitter" height="40px"><a href="#" target="_blank">Twitter</a>
            
        </div>
        
        
    </div>

    <div class="position-relative price">
        <img class="mt-5" height="60px" src="https://cdn-icons-png.flaticon.com/512/2854/2854320.png" alt="">
        <b>Reasonable Price</b>
    </div>
    <div class="position-relative price">
        <img class="mt-5" height="60px" src="https://cdn-icons-png.flaticon.com/512/2839/2839244.png" alt="">
        <b>Happy Customers</b>
    </div>
    <div class="position-relative price">
        <img class="mt-5" height="60px" src="https://cdn-icons-png.flaticon.com/512/3712/3712214.png" alt="">
        <b>Best Quality</b>
    </div>

</div>

<!-- body content ends -->