<div class="container shadow-sm border border-secondary-subtle m-4" routerLinkActive>
    <h3 class="display-6 text-center">Enter Billing Details</h3>
    <hr>

    <div class="row">
        <div class="col-sm-5 col-md-6">
            <!-- form starts here -->
            <h3 class="display-6">Address Details</h3>
            <form #regform='ngForm' (ngSubmit)="CheckoutProduct(regform)">
                <div class="row">
                    <div class="col">
                        <!-- Address -->
                        <div class=" mb-1">
                            <label class="lead">Address</label>
                            <input type="text" class="form-control" name="address" id="address" placeholder="Address" value="{{address}}" [(ngModel)]="model.address" required>
                        </div>
                        <!-- Pincode -->
                        <div class=" mb-1">
                            <label class="lead">PinCode</label>
                            <input type="text" class="form-control" name="pincode" placeholder="PinCode" maxlength="6" value="{{pin}}" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                            [(ngModel)]="model.pincode" required>
                        </div>
                        <!-- Locality -->
                        <div class=" mb-1">
                            <p class="lead">Locality</p>
                            <input type="text" name="locality" class="form-control" placeholder="Locality"  value="{{locality}}" [(ngModel)]="model.locality" required>
                        </div>
                        <!-- State -->
                        <div class=" mb-1">
                            <label class="lead">Select State</label><br>
                            <select id="state" name="state" [(ngModel)]="model.state"
                            value="{{state}}" required>
                            <option disabled>Select State</option>
                            <option value="{{s}}" *ngFor="let s of states">{{s}}</option>
                        </select>
                            
                        </div>
                        <!-- City-->
                        <div class=" mb-1">
                            <label class="lead">City</label>
                            <input type="text" name="city" class="form-control" placeholder="City" id="city" [(ngModel)]="model.city" value="{{city}}" required>
                        </div>
                        <!-- Landmark(Optional) -->
                        <div class=" mb-3">
                            <label class="lead">LandMark (Optional)</label>
                            <input type="text" name="landmark" class="form-control" placeholder="Landmark" id="landmark">
                        </div>

                        <!-- Address Type -->
                        <div class=" mb-3">
                            <label class="lead">Select Address Type</label><br>

                            <!-- Home type -->
                            <div class="radion_btn">
                                <input type="radio" id="home" name="address_type" value="home"
                                    [(ngModel)]="model.address_type" [checked]="type == 'home' ? true : false"
                                    required>
                                <label for="home">Home<br />(All day delivery)</label>

                                <div class="check"></div>
                            </div>
                            <br>
                            <!-- Work Type -->
                            <div class="radion_btn">
                                <input type="radio" id="work" name="address_type" value="work"
                                    [(ngModel)]="model.address_type" [checked]="type == 'work' ? true : false"
                                    required>
                                <label for="work">Work <br />(Delivery between 10AM-5PM)</label>
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn button-81 mt-4 mb-4" [disabled]=!regform.form.valid>Confirm Order</button>
                </div>
            </form>
            <!-- form ends here -->
        </div>

        <!-- Side Panel -->
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
            <div class="card bg-primary text-white rounded-3">
                <h3 class="display-5 text-center">Payment Details</h3>
                <hr>
                <h3 class="display-6 ms-3">Payment Type</h3>
                <!-- Cash on Delivery -->
                <div class="ms-3">
                    <input type="radio" name="payment" id="Cash" value="Cash" [(ngModel)]="model.payment" required>
                    <label class="lead" for="Cash">Cash on Delivery(COD)</label>
                </div>
                <!-- Online Payment -->
                <div class="ms-3">
                    <input type="radio" id="Online" value="Online" name="payment" [(ngModel)]="model.payment"
                        required>
                    <label class="lead" for="Cash">Online</label>
                </div>
                <google-pay-button environment="TEST" buttonType="buy" buttonColor="black" [paymentRequest]="{
                apiVersion: 2,
                apiVersionMinor: 0,
                allowedPaymentMethods: [
                {
                type: 'CARD',
                parameters: {
                allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
                allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
                },
                tokenizationSpecification: {
                type: 'PAYMENT_GATEWAY',
                parameters: {
                gateway: 'example',
                gatewayMerchantId: 'exampleGatewayMerchantId'
                }
                }
                }
                ],
                merchantInfo: {
                merchantId: '12345678901234567890',
                merchantName: 'Demo Merchant'
                },
                transactionInfo: {
                totalPriceStatus: 'FINAL',
                totalPriceLabel: 'Total',
                totalPrice: '100.00',
                currencyCode: 'USD',
                countryCode: 'US'
                }
                }" (loadpaymentdata)="onLoadPaymentData($event)"></google-pay-button>

                <hr>
                <!-- Product Details -->
                <h2 class="display-6 ms-3">Product Details</h2>
                <ul class="list-group">
                    <!-- Product Name -->
                    <li class="list-group-item lead" *ngFor="let stores of stored"><a
                            style="cursor: pointer;">{{stores[0].name}}<span class="middle"></span> <span
                                class="last">{{stores[0].price | currency:"&#8377;"}}</span></a></li>
                    <!-- Product Price -->
                    <li class="list-group-item lead"><a style="cursor: pointer;">Subtotal <span>{{total | currency:
                        "&#8377;"}}</span></a></li>
                </ul>
            </div>
            

        </div>


    </div>
</div>