<!--================Single Product Area =================-->
<div class="bgc">
    <div class="container-fluid shadow-lg p-3 mb-5 w-75 mt-3">
        <div class="row s_product_inner">
            <div class="img-fluid col-lg-6">
                <img class="" src="http://localhost:3000/{{models[0].PRODUCT_IMAGE}}" alt="">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 class="display-6"> {{models[0].PRODUCT_NAME}}</h3>
                    <h2 class="lead"><strong>{{models[0].PRICE | currency: "&#8377; "}}</strong></h2>
                    <h5 class="lead">{{models[0].PRODUCT_DESC}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span>Seller Company</span> : {{models[0].COMPANY_NAME }}</li>
                        <li class="list-group-item"><span>Category: </span>{{models[0].CATEGORY}}</li>
                        <li class="list-group-item"><span>Availibility</span> : In Stock</li><br />
                        <li class="list-group-item">
                            <h4 class="lead">Delivery: </h4>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control form-inline col-6"
                                    placeholder="Enter Pincode ..." maxlength="6"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'');">&nbsp; <span> <button
                                        type="button" class="btn btn-danger"
                                        (click)="Delivery($event)">Check</button></span>


                            </div>
                        </li>
                        <li class="list-group-item"><span>{{delivery}}</span> </li>
                    </ul><br />
                    <button class="btn btn-primary" (click)="AddtoCart($event)">Add to Cart</button>
                    <span style="color: red;">&nbsp; &nbsp; {{alreadyadded}}</span>

                    <div class="card_area d-flex align-items-center">

                    </div>
                    <br />



                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Special Offers</button>
              </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Specification</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Review</button>
              </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                <h4 class="display-6">Available Offers</h4><br/>

					<h6> Bank Offer <span class="green">5%</span> Unlimited Cashback on Flipkart Axis Bank Credit Card T&C </h6><hr>

					<h6> Bank Offer <span class="green">5% off*</span>  with Axis Bank Buzz Credit Card T&C</h6><hr>

					<h6> Get upto <span class="green">₹13150</span>  off on exchangeBuy with Exchange</h6><hr>

					<h6> Special PriceExtra <span class="green">₹6000 off</span> (price inclusive of discount) T&C</h6><hr>

					<h6> No cost EMI <span class="green">₹1,777/month.</span>  Standard EMI also available View Plans</h6><hr>

					<h6> Get Google Nest Mini Charcoal at <span class="green">₹1999 T&C</span> </h6><hr>
            </div>

            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class="lead">Product Name</h5>
                                </td>
                                <td>
                                    <h5 class="">{{models[0].PRODUCT_NAME}} </h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="lead">Seller company Name</h5>
                                </td>
                                <td>
                                    <h5>{{models[0].COMPANY_NAME}} </h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="lead">Price</h5>
                                </td>
                                <td>
                                    <h5>{{models[0].PRICE}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 class="lead">Category</h5>
                                </td>
                                <td>
                                    <h5>{{models[0].CATEGORY}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <h5 *ngIf="NoReview==0">Be the first one to add the Review</h5>
                            <!-- column1 -->
                            <div *ngFor="let review of reviews">
                                <div class="card">
                                    <div class="card-header" style="background-color:#9ED5C5;">Customer Reviews</div>
                                    <div class="card-body">
                                        <h5>Customer Name - {{review.CUSTOMER_NAME}}</h5>
                                        <i class="card-text" *ngFor='let in of counter(review.RATING) ;let i = index'></i>
                                        <p class="card-text">Review - {{review.REVIEW}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Column2 -->
                            <div class="card">
                                <div class="card-header" style="background-color:#9ED5C5;">Add Review</div>
                                <div class="card-body">
                                    <p *ngIf="loggeduser==null" style="color:darkred;">You Need to Login to Review this Product
                                    </p>
                                    <form #reviewForm="ngForm" class="form-contact form-review mt-3" *ngIf="loggeduser!=null">
            
                                    <!-- star ratings starts here -->
                                    <div class="rating">
                                        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide"
                                            [(ngModel)]="ratings.star">
                                        <label for="star5"><i class="far fa-star"></i></label>
                                        <input id="star4" name="star" [(ngModel)]="ratings.star" type="radio" value="4"
                                            class="radio-btn hide">
                                        <label for="star4"><i class="far fa-star"></i></label>
                                        <input id="star3" name="star" [(ngModel)]="ratings.star" type="radio" value="3"
                                            class="radio-btn hide">
                                        <label for="star3"><i class="far fa-star"></i></label>
                                        <input id="star2" name="star" [(ngModel)]="ratings.star" type="radio" value="2"
                                            class="radio-btn hide">
                                        <label for="star2"><i class="far fa-star"></i></label>
                                        <input id="star1" name="star" [(ngModel)]="ratings.star" type="radio" value="1"
                                            class="radio-btn hide">
                                        <label for="star1"><i class="far fa-star"></i></label>
                                        <div class="clear"></div>
                                    </div>
    
                                <!-- star rating ends here -->
                                        <div class="form-group">
                                            <textarea class="form-control different-control w-100" name="review" id="review" cols="30" rows="5" placeholder="Enter Your Review" [(ngModel)]="ratings.review"></textarea>
                                        </div>
            
                                        <span style="color: red;">{{reviewError}}</span>
            
                                        <div class="form-group text-center text-md-right mt-3">
                                            <button type="button" (click)="SendReview(); reviewForm.reset()" class="btn btn-danger mb-4">Submit Now </button>
                                        </div>
            
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->