<div class="container shadow p-3 ms-5 row">

    <div class="col-lg-6">
        <div class="img-big-wrap img-thumbnail">
            <a data-fslightbox="mygalley" data-type="image" href="#">
                <img height="560"
                    src="https://cdn-icons-png.flaticon.com/128/8516/8516849.png">
            </a>
        </div> <!-- img-big-wrap.// -->

        <div class="thumbs-wrap">
            <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                <img width="60" height="60"
                    src="https://cdn-icons-png.flaticon.com/128/742/742774.png">
            </a>
            <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                <img width="60" height="60" src="https://cdn-icons-png.flaticon.com/128/743/743287.png">
            </a>
            <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                <img width="60" height="60" src="https://cdn-icons-png.flaticon.com/128/8503/8503830.png">
            </a>
            <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                <img width="60" height="60" src="https://cdn-icons-png.flaticon.com/128/8515/8515542.png">
            </a>
            <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                <img width="60" height="60" src="https://cdn-icons-png.flaticon.com/128/8503/8503835.png">
            </a>
        </div> <!-- thumbs-wrap.// -->

    </div>
    <div class="col-lg-6 float-end">
        <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Thrift</span>
            <h5 class="text-uppercase"><b>Lorem ipsum dolor sit amet.</b></h5>
            <div class="price d-flex flex-row align-items-center"> <span class="act-price">$20</span></div>
        </div>
        <p class="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa voluptas suscipit
            cupiditate eos at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam dolorum
            officiis neque quisquam, at obcaecati ad pariatur nemo enim.</p>
        <div class="sizes mt-5">
        </div>
        <dl class="row">
            <dt class="col-3">Type:</dt>
            <dd class="col-9">SVG</dd>
      
            <dt class="col-3">Color</dt>
            <dd class="col-9">Purple</dd>
      
            <dt class="col-3">Brand</dt>
            <dd class="col-9">Thrift </dd>
          </dl>
        <div class="cart mt-4 align-items-center"> 
            <button class="btn btn-warning text-uppercase mr-2 px-4">Buy Now</button>
            <button class="btn btn-primary text-uppercase mr-2 px-4">Add tocart</button> 
        </div>
    </div>

</div>





<!-- <div class="row">
    <aside class="col-lg-6">
        <article class="gallery-wrap">
            <div class="img-big-wrap img-thumbnail">
                <a data-fslightbox="mygalley" data-type="image" href="#">
                    <img height="560" src="#">
                </a>
            </div> 
            <div class="thumbs-wrap">
                <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                    <img width="60" height="60" src="#">
                </a>
                <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                    <img width="60" height="60" src="#">
                </a>
                <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                    <img width="60" height="60" src="#">
                </a>
                <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                    <img width="60" height="60" src="#">
                </a>
                <a data-fslightbox="mygalley" data-type="image" href="#" class="item-thumb">
                    <img width="60" height="60" src="#">
                </a>
            </div> 
        </article> 
    </aside>

    <main class="col-lg-6">
        <article class="ps-lg-3">
            <h4 class="title text-dark">{{productName}}<br></h4>

            <div class="mb-3">
                <var class="price h5">{{productPrice}}</var>
                <span class="text-muted">/per box</span>
            </div>

            <p>{{productDesc}}</p>
            <hr>

            <div class="row mb-4">
                <div class="col-md-4 col-6 mb-3">
                    <label class="form-label d-block">Quantity</label>
                    <div class="input-group input-spinner">
                        <button class="btn btn-icon btn-light" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999"
                                viewBox="0 0 24 24">
                                <path d="M19 13H5v-2h14v2z"></path>
                            </svg>
                        </button>
                        <input class="form-control text-center" placeholder="" value="14">
                        <button class="btn btn-icon btn-light" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999"
                                viewBox="0 0 24 24">
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                            </svg>
                        </button>
                    </div> 
                </div>
            </div>

            <a href="#" class="btn  btn-warning"> Buy now </a>
            <a href="#" class="btn  btn-primary"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>

        </article>
    </main>
</div> -->