<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-center">Admin Dashboard</span>
    </div>
  </nav>

  <div class="container d-flex border border-secondary-subtle rounded mt-5 mb-4">
    <div class="flex-shrink-0">
        <img src="../../../assets/img/Sentiment analysis-amico.png"
            alt="...">
    </div>
    <div class="flex-grow-1 ms-3">
        <h3 class="display-5 text-center mt-2">Welcome to the Admin Dashboard</h3>
        <!-- <p class="lead text-center">Enter your PIN access.</p> -->
        <div class="mt-5 ms-5 ">
            <div class="">
                <button class="btn btn-info button-46 btn-lg mb-3"><a style="text-decoration:none; color: black;"
                        [routerLink]="['/productAdd']" class="btn-box big span4">Add Product</a></button>
                <!-- <br> -->

                <button type="button" class="btn btn-info button-46 btn-lg mb-3"><a
                        style="text-decoration:none; color:black;" [routerLink]="['/orderdash']"
                        class="btn-box big span4">Product List</a></button>

                <button type="button" class="btn btn-info button-46 btn-lg mb-3"><a
                        style="text-decoration:none; color: black" [routerLink]="['/adminOrder']"
                        class="btn-box big span4">Customer Orders</a></button>

                <button type="button" class="btn btn-danger button-46 btn-lg mb-3"><a
                        style="text-decoration:none; color: black" [routerLink]="['/']">Logout</a></button>
            </div>
        </div>
    </div>
</div>