
<footer class="bg mt-5">
    <div class="container bg bg-body">
        <div class="row">
            <div class="col-md-4 pt-5">
                <h5 class="fs-3 fw-semibold">Thrift Ecommerce</h5>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
                    <li class="list-group-item">Thrift@abc.com</li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h5 class="fs-3 fw-semibold">Further Info</h5>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" style="text-decoration: none;">Home</a></li>
                    <li class="list-group-item"><a href="#" [routerLink]="['/about']" style="text-decoration: none;">About</a></li>
                </ul>
            </div>
            <hr class="mt-2">
        </div>

        <div class="w-100 mt-3">
            <p class="lead fw-semibold  text-center">Copyright &copy; 2023 Thrift | Developed by <a class="link-danger" href="#" style="text-decoration: none;">Priyanshu Raj</a> </p>
        </div>
    </div>
</footer>